body {
    background-color: #eeeeee;
    font-family: 'Poor Story';
    font-size: 18px;
}

#header {
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 22px;
    font-weight: bold;
    word-spacing: 100vw;
    line-height: 85%;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

#logo {
    background-color: white;
    position: absolute;
    top: 40px;
    left: 470px;
    width: 120px;
    height: 120px;
}

#main {
    width: 640px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    -moz-box-shadow:     10px 0px 10px -7px #888,
                        -10px 0px 10px -7px #888;
    -webkit-box-shadow:  10px 0px 10px -7px #888,
                        -10px 0px 10px -7px #888;
    box-shadow:          10px 0px 10px -7px #888,
                        -10px 0px 10px -7px #888;
}

#body {
    font-family: monospace;
    font-size: 12px;
    width: 580px;
    margin: auto;
    background-color: white;

}

#links {
    margin-left: 40px;
}

.code {
    font-size: 12px;
}

form {
    width: 580px;
}

table {
    width: 580px;
}

hr {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr:after {
    content: "";
    display: inline;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

input {
    font-family: 'Poor Story';
    font-size: 18px;
}

input[type="number"] {
   width: 50px;
}

select {
    font-family: 'Poor Story';
    font-size: 18px;
}

td {
    padding: 10px;
    text-align: center;
}
